.main {
    width: 100%;
    min-height: calc(100vh - 77px);
    background-color: orange;
}
@media screen and (min-width: 768px) {
    .main {
        width: calc(100vw * 0.7)
    }
}

@media screen and (min-width: 1280px) {
    .main {
        width: calc(100vw * 0.6)
    }
}

.blockBtn {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.costs,
.incomes {
    font-weight: 700;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costs:hover,
.incomes:hover {
    transform: scale(0.95);
}

.costs {
    margin-right: 20px;
}